body
{
font-family: Arial;
margin:0;
background:#f4f4f4;
text-align:center;
}

header
{
background:#2c3e50;
color:white;
padding:20px;
}

nav a
{
color:white;
margin:15px;
text-decoration:none;
font-size:18px;
}

.hero
{
padding:40px;
background:#27ae60;
color:white;
}

.main-img
{
width:80%;
margin-top:20px;
}

.player img
{
width:200px;
}

footer
{
margin-top:40px;
background:#333;
color:white;
padding:10px;
}